 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Regole</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lo scopo di hacknight è quello di sensibilizzare le comunità di sviluppatori allo sviluppo di software libero.</p>
                    <p>hacknight ha pochi semplici requisiti: un luogo fisico, partecipazione gratuita, un maintainer di un progetto open source, persone che vogliono contribuire al progetto, rispettare il codice di condotta.</p>
                </div>
                <div class="col-lg-4">
                    <p>Il codice di condotta ti invita ad:</p>
                    <ul class="items">
                        <li>essere rispettoso</li>
                        <li>essere educato</li>
                        <li>essere paziente</li>
                        <li>essere amichevole</li>
                        <li>essere in linea con lo spirito dell'iniziativa</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
